@use "../../assets/styles/mixins" as mixin;
.portfolio {
  h2 {
    text-align: center;
    font-size: 5rem;
    color: var(--primary);
    letter-spacing: 0.4rem;
    margin: 10rem 0 4rem 0;
    @include mixin.md-lt {
      margin: 6rem 0 3rem 0;
    }
  }
  section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5rem;
    @include mixin.sm-lt {
      justify-content: center;
    }
    div {
      position: relative;
      cursor: pointer;
      transition: 1s transform;
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
      img {
        height: 310px;
        transition: 1s;
        box-shadow: var(--box-shadow);
      }
    }
    h3 {
      text-align: center;
      letter-spacing: 0.4rem;
      color: var(--primary);
      padding-top: 2rem;
      a {
        color: var(--primary);
      }
    }
  }
}
.overlay {
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
  height: 310px;
  background-color: var(--gray-3);
  opacity: 0.8;
  p {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.3rem;
  }
  button {
    a {
      color: var(--gray-3);
    }
  }
}
